body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  background-image: url(../images/jungle_track.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.topic {
  height: 60px;
  padding: 10px;
  margin-top: 20px;
  color: aquamarine;
  font-size: 40px;
  font-weight: bold;
  vertical-align: middle;
  background: hsl(14, 60%, 29%);
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}
.card {
  width:35%;
  height: 23vw;
  margin: 50px auto;
  padding: 20px;
  background: #ffffff;
  background-size: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}
.words {
  width: 90%;
}
.instruction {
  margin-top: 20px;
  font-size: 14px;
  color: azure;
}

#start {
  margin: 300px auto;
  height: 200px;
}
#main {
  display: none;
}
#ending {
  display: none;
}
#btnStart {
  width:300px;
  height:200px;
  background-image: url(../images/btn_start.jfif);
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#btnNextGame {
  width:300px;
  height:200px;
  background-image: url(../images/btn_nextgame.jfif);
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}